/* Formularios */
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
}

textarea::placeholder {
    color: #888;
}

/* Botones animados */
.animated-button {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s, background-color 0.3s;
}

.animated-button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}